body{
    background: #D2D6DE;
}

#outline-border-error{
    width: 50%; min-height: 200px;
    margin: 0px auto;
    margin-top: 10%;
    padding: 10px; background: #FFFFFF;
    -webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.7);
    box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.7);
}

#inline-border-error{
    width: 90%;
    min-height: 300px;
    margin: 0px auto;
    background: #eff1f7;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.24);
}